{% extends 'layout.html' %}
{% block body %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Camera</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Screen</li>
          <li class="breadcrumb-item active">Add Camera</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="Addcamera">
      <div class="row">
        <div class="col-lg-9">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Camera Details</h5>

              <!-- General Form Elements -->
              <form   action="{{url_for('addcamera')}}" method="POST">
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Camera Name</label>
                  <div class="col-sm-10">
                    <input type="text" name="name" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Rtsp</label>
                  <div class="col-sm-10">
                    <input type="text" name="url" class="form-control">
                  </div>
                </div>

                <div class="row mb-3 text-center">
                  <label class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}
