{% extends 'layout.html' %}
{% block body %}

  


  <main id="main" class="main">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script>
  
      $(function(){
        window.setInterval(function(){
          load()
        },1000)  
      
      function load(){
          $.ajax({
              url:"/update",
              type: "POST",
              dataType: "json",
              success: function(data){
                  $(update).replaceWith(data)
      
              }
          });
      } 
      });
      </script>
     

    

    <div class="pagetitle">
      <h1>Person Count</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Screen</li>
          <li class="breadcrumb-item active">Person Count</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    

    <section id="update" class="section">
      <div class="row">
        <div class="col-lg-6">


          <div class="card">
            <div class="card-body">
              <h5 class="card-title Person count">Person Count</h5>

              <!-- Quill Editor Bubble -->
              <!-- <p>Select some text to display options in poppovers</p> -->
              <div class="quill-editor-bubble">
                 <!-- <p>Hello World!</p> -->
                <!-- <p>This is Quill <strong>bubble</strong> editor</p> --> 
                
                <div class="alert alert-success alert-dismissible fade show" role="alert"><h1>{{x}}</h1></div>
                
              </div>
              <!-- End Quill Editor Bubble -->

            </div>
          </div>

          
    </section>

  </main><!-- End #main -->

 
  {% endblock %}
