{% extends 'layout.html' %}
{% block body %}



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>View</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Sensors</li>
          <li class="breadcrumb-item active">View</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sensor Details</h5>



              <table border="2">

                <thead>
                
                <th>Pinno</th>
                <th>Description</th>
                <th>State</th>
                <th>ON-Message</th>
                <th>OFF-Message</th>

                </thead>
                
                {% for row in  rows %}
                
                <tbody>
                <tr>
                    <td>{{row['pinno']}}</td>
                    <td>{{row['Name']}}</td>
                    <td>{{row['state']}}</td>
                    <td>{{row['ONmsg']}}</td>
                    <td>{{row['OFFmsg']}}</td>
                </tr>
                </tbody>
                
                {% endfor %}
                
                </table>
              

             
            </div>
          </div>

             
        </div>
      </div>

        
    </section>

  </main><!-- End #main -->

  {% endblock %}